<footer class="bg-light py-4 mt-5">
  <div class="container">
    <div class="row">
      <!-- First Column -->
      <div class="col-md-3">
        <h5>About Us</h5>
        <ul class="list-unstyled">
          <li><a href="#">Our Story</a></li>
          <li><a href="#">Mission & Vision</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Sustainability</a></li>
        </ul>
      </div>

      <!-- Second Column -->
      <div class="col-md-3">
        <h5>Customer Service</h5>
        <ul class="list-unstyled">
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">FAQs</a></li>
          <li><a href="#">Shipping & Returns</a></li>
          <li><a href="#">Payment Methods</a></li>
        </ul>
      </div>

      <!-- Third Column -->
      <div class="col-md-3">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="#">Gift Cards</a></li>
          <li><a href="#">Special Offers</a></li>
          <li><a href="#">Size Guides</a></li>
          <li><a href="#">Store Locator</a></li>
        </ul>
      </div>

      <!-- Fourth Column -->
      <div class="col-md-3">
        <h5>Follow Us</h5>
        <ul class="list-unstyled">
          <li><a href="#"><i class="bi bi-facebook"></i> Facebook</a></li>
          <li><a href="#"><i class="bi bi-instagram"></i> Instagram</a></li>
          <li><a href="#"><i class="bi bi-twitter"></i> Twitter</a></li>
          <li><a href="#"><i class="bi bi-youtube"></i> YouTube</a></li>
        </ul>
      </div>
    </div>
 
  </div>
</footer>
